body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: aliceblue;
}
* {margin: 0;}

#letters{
    height:1.2em;
    font-size: 100px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.click{
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.key{
  font-size: 32px;
  width: 1.5em;
}