body {
    margin: 0;
    text-align: center;
    font-family: sans-Serif;
}
* {margin: 0;}

#letters{
    height:1.2em;
    font-size: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.click{
    text-decoration: underline;
    cursor: pointer;
}
